* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav {
    display: flex;
    justify-content: center;
    height: 57px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.329);
}

nav>img {
    padding-top: 7px;
    max-height: 95%;
}

main {
    display: flex;
    justify-content: center;
}

main>div {
    margin-top: 35px;
    width: 370px;
    min-height: 300px;
}

.cart_tittle {
    background-color: black;
    width: 100%;
    height: 43px;
    border-radius: 5px;
    margin-bottom: 13px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
}

.item_list {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 13px;
}

.item_list>li {
    background-color: black;
    width: 100%;
    height: 37px;
    border-radius: 5px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(235, 235, 235);
    padding: 0 15px;
}

.cart_footer{
    display: flex;
    flex-direction: column;
}
.total{
    background-color: rgb(160, 160, 160);
    width: 100%;
    height: 57px;
    border-radius: 5px;
    margin-bottom: 9px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 600;
}

.total_number{
    color: rgb(0, 0, 0);
}

.buy_button{
    font-weight: 600;
    width: 100%;
    height: 37px;
    border-radius: 5px;
    background-color: rgb(56, 197, 115);
    border: 0;
    color: #fff;
}  

.buy_button:hover{
    width: 100%;
    font-weight: 600;
    height: 37px;
    border-radius: 5px;
    background-color: rgb(35, 216, 59);
    border: 0;
    color: #fff;
    box-shadow: 0px 0px 3px black;
}   